body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header button{
  padding: 1em;
  margin: 2em;
}